@import url(header.css);
@import url(intro.css);
@import url(institucional.css);
@import url(estrutura.css);
@import url(diciplinas.css);


:root {
    --FonteDestaque: 'Swanky and Moo Moo', cursive;
    --corDestaque : rgb(248, 179, 31);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    /* overflow-x: hidden; */
}

h1 {
    font-size: 20px;
   
}


h2 {
    font-size: 18px;
    background-color: var(--corDestaque);
    display: inline-block;
    padding: .5rem;
    border-radius: 4px;
}

section {
    padding: 2rem;
}

